caption {
    padding: 10px;
    font-size: 28px;
    color: #0077b6;
    
  }
  th {
    background-color: #0096c7;
    color: #03045e;
    width: 100px;
  
  }

  td {
    background-color: #48cae4;
    color: #023e8a;
    padding: 10px;
    text-align: center;
    width: 100px;
 
  
